
<body>
  <mat-toolbar color="primary">
    <span><a routerLink="/">VisiRam Solutions</a></span>
    </mat-toolbar>
  <br><br><br>

<div class="abc">
<b><h1 style="font-family:verdana" style="color:blue">About</h1></b>

<div class="container">
<p style="font-family: courier">We are a team of young passionate digital enthusiasts comprising of specialist in strategy and planning,innovative web and mobile technology solutions, search marketing, social media, digital campaigns.</p>
</div>
<section >
<button mat-button onclick="location.href = 'http://www.visiram.com/about-us';">Visit VisiRam Solutions</button>
</section>
</div>
</body>
