
<mat-toolbar width=100%  color="primary">
  <span><a routerLink="/"> VisiRam Solutions</a></span>
</mat-toolbar><br><br><br>
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 22rem; margin:0 auto;">
          <img class="card-img-top"
              src="\assets\project.png"
                      alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title" style="color:green">
                  Current Project
              </h5>
              <p class="card-text" style="color:green;">
                 {{posts[0].title}}
              </p>
              <p class="card-text" style="color:green;">
                  {{posts[0].content}}
              </p>
          </div>
          <div class="card-footer text-center">
              <button mat-button routerLink="/view" class="btn btn-primary btn-sm float-left"
                          id="left" style="color:white">
                  View
              </button>
              <button mat-button routerLink="/edit" class="btn btn-danger btn-sm float-right"
                      id="right" style="color:white">
                  Edit
              </button>
          </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="width: 22rem; margin:0 auto;">
        <img class="card-img-top"
            src="\assets\about.jpg"
                    alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="color:green">
                About
            </h5>
            <p class="card-text" style="color:green;">
               About Visiram Solutions
            </p>

        </div>
        <div class="card-footer text-center">
          <button class="btn btn-warning btn-sm" routerLink="/about" id="center" style="color:white">
                View
         </button>
        </div>
    </div>
  </div>
    <div class="col-sm-3">
      <div class="card" style="width: 22rem; margin:0 auto;">
        <img class="card-img-top"
            src="\assets\explore.jpg"
                    alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="color:green">
                Explore
            </h5>
            <p class="card-text" style="color:green;">
                Contact us for more Info
            </p>

        </div>
        <div class="card-footer text-center">
          <button class="btn btn-warning btn-sm" routerLink="/explore" id="center" style="color:white">
              View
         </button>
        </div>
    </div>
    </div>
  </div>
</div>

