.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a{
  text-decoration: none;
  color: white;
}
button{
  margin-top: 10%;
  margin-left:43%;
  color: white;
  background-color: #537ae4;
}
.abc{
  background-image: url("G:\Testing Online class\niharika\Assignment\src\assets\bb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

}
