<mat-toolbar width=100%  color="primary">
  <span><a routerLink="/"> Visiram Solutions</a></span>
</mat-toolbar>
<br>
<div  >
  <h1>Current Project Details</h1>
</div>
<button mat-button ></button>
<mat-accordion multi="True"   >
       <div>
         <p class="para1">Our Current Project is On </p> <p class="para"> {{posts[0].title}} </p></div>
    <div>
    <p class="para1">Technologies Included:</p> <p class="para"> {{posts[0].content}}</p>
  </div>
</mat-accordion>
<hr>
<label>Our Products</label>
<div>
  <p class="para">Visiram Solutions accomplishments made in the creation of highly
     customisable web development tools, staff management and restaurant management systems.
      We are doing our best to build the solutions that can improve your overall business performance.</p>
</div>
